@import url(//db.onlinewebfonts.com/c/6228016f2b172c06410f3a2356d33f6c?family=Roobert-Regular);
@font-face {
  font-family: 'Roobert-Regular';
  src: url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot');
  src: url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.svg#Roobert-Regular')
      format('svg');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 135rem;
  min-height: 100%;
  max-height: 100%;
  background-color: #010048;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  color: snow;
  font-family: 'Roobert-Refular';
}

::placeholder {
  color: #4d4dff;
}
